/* Add this to the top or with other body styles */
.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f7fa;
  font-family: "Inter", sans-serif;
}

/* Change the original .login__error to be visible */
.login__error_visible {
  color: #ef4444;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  width: 100%;
  margin-top: -16px; /* Adjust to fit layout */
  margin-bottom: -16px;
}